NEXT_PUBLIC_SITE_URL=https://firmantafrica.com
NEXT_PUBLIC_WHATSAPP_NUMBER=237654270882
NEXT_PUBLIC_GA_ID=
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2026-07-08
CONTACT_TO_EMAIL=firmantcompany@gmail.com
